{% extends 'base.html' %}
{%load static%}
{% block title %}Poll Groups{% endblock title %}
{% comment %}
<link rel="stylesheet" href="{% static 'style.css' %}"> {% endcomment %}

{% block body %}
<div class="container my-3">
<h4>{{voter.ward}}</h4>
<h4>{{voter.city}}</h4>
<h4>{{voter.name}}</h4>
<div class="form-container">
    {%for group in groups%}
    <div class="candidate" 
               style='padding-top: 50px;
               padding-right: 30px;
               padding-bottom: 50px;
               padding-left: 80px;
               margin-left: 25%;
               margin-right: 25%;
               background-color: aquamarine;
               border:2px solid red ;
               box-shadow: azure;
               color: black;'>
        <Label>Candidate Name:</Label>
        {{group.name}}
        <button class="vote" style='float:right;padding:15px;'>
        Vote</button><br>
        <label>Party Name:</label>
        {{group.party}}<br>
        <label>Ward Name</label>
        {{group.ward}}<br>
        <label>City Name:</label>
        {{group.city}}<br>
    </div>

    {%endfor%}
</div>
</div>
{% endblock body %}